@model IEnumerable<PlanyATH_Project.Models.DataModelView>

<div style="margin-top:15px">
    @using (Ajax.BeginForm("IndexAjax", "Home", new AjaxOptions() { UpdateTargetId = "list" }))
    {
        <input name="searchQuery" class="form-control" placeholder="Wprowadz" />

        <input type="submit" class="btn btn-danger" value="Szukaj" />
    }
</div>

<div class="row panel" style="margin-top:20px; background-color: darkgray">
    <div id="list" class="col-xs-3">
        @Html.Partial("ResultView")
    </div>

    <div id="costam" style="width: 800px;
    height: auto;
    background-color: gainsboro;
    margin-left: 325px;">
    </div>
</div>
<br />