@model IEnumerable<PlanyATH_Project.Models.DataModelView>
@using PlanyATH_Project.Controllers
<div>
    <div class="col-xs-8" id="personlist-section">
        <table class="table">
            <tr>
                @*<th>
                        Nazwa
                    </th>
                    <th>
                        Link
                    </th>*@
                <th>
                    Nazwa
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a @*onclick="@{((HomeController)this.ViewContext.Controller).ICSReader(item.FileName);} "*@>@item.Name</a>
                    </td>

                </tr>
            }
        </table>
    </div>
</div>