@model IEnumerable<PlanyATH_Project.Models.DataModelView>

<div id="result"></div>
<div>
    <div id="personlist-section">
        <table class="table">
            <tr>
                <th>
                    Nazwa
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Model => item.Name)

                        <p align="right">
                            <input type="button" class="btn btn-primary personPlanBtn"
                                   data-path="@item.FileName" value="Pokaz Plan" />
                        </p>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>



@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>*@
<script>
    $(".personPlanBtn").click(function () {
        var btn = $(this);
        var path = btn.attr("data-path");

        $.ajax({
            type: 'GET',
            url: '@Url.Action("ICSReader")',
            data: { "path": path },
            dataType: "text/html",
            success: function (data) {
                btn.parent().prev().html(data);
                $("#result").html(data);
                console.info("przeszlo");
            }
        }).done(function (data) {
            alert("przeszlo");
            alert(data);
        });
    });
</script>