@model IEnumerable<PlanyATH_Project.Models.DataModelView>
<div>
    <div id="personlist-section">
        <table class="table">
            <tr>
                <th>
                    Nazwa
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Ajax.ActionLink(item.Name,
    "ICSReader",
    "HomeController",
    new { pathfile = item.FileName },
    new AjaxOptions{ UpdateTargetId = "updateTargetId"} )
                    </td>

                </tr>
            }
        </table>
    </div>
</div>

<script>
    function GetEventsDetails() {
        debugger;
        $.ajax({
            type: "GET",
            url: "Home/ICSReader",
            data: { userId: Id },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                alert(result)
            },
            error: function (response) {
                debugger;
                alert('eror');
            }
        });
    }
</script>