@model IEnumerable<PlanyATH_Project.Models.DataModelView>
<div>
    <div id="personlist-section">
        <table class="table">
            <tr>
                <th>
                    Nazwa
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Model => item.Name)

                        <input type="button" class="btn btn-primary"
                               data-path="@item.FileName" value="Pokaz Plan" />

                        @*@Ajax.ActionLink(item.Name,
    "ICSReader",
    "HomeController",
    new { pathfile = item.FileName },
    new AjaxOptions { UpdateTargetId = "updateTargetId" })*@
                    </td>

                </tr>
            }
        </table>
    </div>
</div>

@section scripts
{
    <script>
        $("input").click(function () {
            var btn = $(this);
            var path = btn.attr("data-path");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ICSReader")',
                data: { "path": path },
                dataType: "json",
                success: function (data) {
                    btn.parent().prev().html(data);
                }
            });
        });
    </script>
}