
@foreach(var item in ViewBag.NowEvent)
{
    <div>@item</div>
}

@foreach (var item in ViewBag.TodayEvent)
{
    <div>@item</div>
}

@foreach (var item in ViewBag.UpcomingEvent)
{
    <div>@item</div>
}