@if (ViewBag.NowEvent != null)
{
    <div>Now Events</div>
    foreach (var item in ViewBag.NowEvent)
    {
        <div>@item</div>
    }
}

@if (ViewBag.TodayEvent != null)
{
    <div>Today Events</div>
    foreach (var item in ViewBag.TodayEvent)
    {
        <div>@item</div>
    }
}

@if (ViewBag.UpcomingEvent != null)
{
    <div>Upcoming Events</div>
    foreach (var item in ViewBag.UpcomingEvent)
    {
        <div>@item</div>
    }
}
