@model  PlanyATH_Project.ViewModels.ResultViewViewModel

@if (Model != null)
{
    if (Model.NowEvent != null)
    {
        <div>Now Events</div>
        foreach (var item in Model.NowEvent)
        {
            <div>@item</div>
        }
    }

    if (Model.TodayEvent != null)
    {
        <div>Today Events</div>
        foreach (var item in Model.TodayEvent)
        {
            <div>@item</div>
        }
    }

    if (Model.UpcomingEvent != null)
    {
        <div>Upcoming Events</div>
        foreach (var item in Model.UpcomingEvent)
        {
            <div>@item</div>
        }
    }
}