@model PlanyATH_Project.ViewModels.ResultViewViewModel

@if (Model != null)
{
    <div>
        <table class="table table-bordered" style="background-color: dimgray;
    color: white;">
            <tr>
                <th>
                    Now Events
                </th>
            </tr>
            @foreach (var item in Model.NowEvent)
            {
                <tr>
                    <th style="background-color: darkgray">
                        @item
                    </th>
                </tr>
            }
        </table>

        <table class="table table-bordered" style="background-color: dimgray;
    color: white;">
            <tr>
                <th>
                    Today Events
                </th>
            </tr>
            @foreach (var item in Model.TodayEvent)
            {
                <tr>
                    <th style="background-color: darkgray">
                        @item
                    </th>
                </tr>
            }
        </table>

        <table class="table table-bordered" style="background-color: dimgray;
    color: white;">
            <tr>
                <th>
                    Upcoming Events
                </th>
            </tr>
            @foreach (var item in Model.UpcomingEvent)
            {
                <tr>
                    <th style="background-color: darkgray">
                        @item
                    </th>
                </tr>
            }
        </table>
    </div>
}